body{
    font-family: 'Lato', sans-serif;   
}


head {
    
}

.btn {
    display: inline-block;
}

.navbar .btn{
    background-color: #616161;   
}

.navbar .btn:hover{
    background-color: #717171;
    
}

.logoTitle {
    font-style: italic;
    font-weight: 100;
}

.splashSlogan {
    font-stretch:extra-expanded; 
}

.promo i {
    margin: 40px 0;
    color: #039be5;
    font-size: 7rem;
    display: block;
}

.page-title {
    /*font-style: italic;*/
   /* color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

.cover-heading {
    text-align: center;
    /text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.splash-container-image {
    /*background-color: aliceblue;*/
  background-image: url(../img/classroom.jpg);
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100%;
  /*height: 800px;*/
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.splash-content {
  position: relative;
  left: 0;
  right: 0;
  z-index: 2;
  /*margin-left: 20px;
  margin-right: 20px;*/
}

.nav-left {
    float: left;
    display: inline-block;
}

.nav-right {
    text-align: right;
    float: right;
    display: inline-block;
    padding-top: 10px;
}

.navbar {
    display: inline-block;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: rgba(255,255,255,.5);
    padding: 10px;
}

.site-logo {
    font-size: 36px;
}

.promo-description {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.9rem;
    line-height: 100%;
    font-weight: 200;
    text-align: center;
}

.promo-divider {
    height: 1px;
    overflow: hidden;
    background-color: rgba(3, 155, 229, .4);
    width: 90%;
    margin: auto;
    
}

.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.splash-tagline {
    font-size: 3.56rem;
    line-height: 110%;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 30px;
}

.promo-card {
    padding-bottom: 20px;
}

.modal {
    z-index: 9999;
}

#main-page {
    max-width: 1000px;
    padding: 15px;
    border-radius: 3px;
    background-color: rgba(255,255,255,.9);
    margin: 0 auto;
    margin-top: 25px;
}

#admin-page {
    max-width: 1000px;
    padding: 15px;
    border-radius: 3px;
    background-color: rgba(255,255,255,.9);
    margin: 0 auto;
    margin-top: 25px;
}

#floor-selection {
    width: 45%;
    display: inline-block;
    margin-left: 4%;
}

.floorBtn {
    margin-right: 10px;
}

#floorPlanImg {
    width: 100%;
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
}